* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #1f2937;
  padding: 20px 10px;
  padding-left: 90px;
  padding-right: 90px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #dddddd4f;
  color: white;
}

.header-right {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 200px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item > h1,
p {
  margin-top: 80px;
  color: white;
  text-align: left;
  margin-left: 100px;
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 6px 21px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.information {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.grid-item2 {
  height: 150px;
  width: 150px;
  border: 6px solid blue;
  border-radius: 24px;
}

.grid-item3 {
  height: 150px;
  width: 150px;
}

.grid-item2,
.grid-item3 {
  margin: 0.4rem;
}
